/* page-1 0101010101101010101010101010101011010101010101010101010001011011101010100110101101001011110101010101101111101010101011110110110101110101110 */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");
.menu {
  width: 283px;
  width: 80px;
  height: 100%;
  height: 889px;
  background: #393c3f;
  overflow: hidden;
  transition-property: width;
  transition-duration: 0.7s;
  height: 100%;
}
@media (width <= 930px) {
  .menu {
    position: absolute;
    z-index: 1;
    transition-property: width;
    transition-duration: 0, 7s;
  }
  .personal-acc-main-page {
    /* width: 100% !important; */
    margin-left: 80px;
  }
  .show-personal-acc-main-page-margin {
    width: calc(100% - 80px) !important;
  }
  .show-personal-acc-main-page-width {
    width: 100%;
  }
  .menu__content__div__arrow {
    z-index: 2;
  }
  .menu__content__cricle-arrow {
    display: none !important;
  }
  .menu__content__cricle-arrow2 {
    display: flex !important;
    position: absolute;
    margin-top: 57px;
    margin-left: 70px;
    z-index: 4;
  }
  .show-menu__content__cricle-arrow2 {
    display: flex !important;
    position: absolute;
    margin-top: 57px;
    margin-left: 273px;
    z-index: 4;
  }
  
  /* .show-menu__content__cricle-arrow2 {
    margin-left: 273px;
  } */
}
.menu__content__cricle-arrow2 {
  display: none;
  width: 20px;
  height: 20px;
  background: #007ad3;
  border-radius: 50%;
  transition-property: margin;
  transition-duration: 0.7s;
}
.menu__content__cricle-arrow2 img {
  margin: auto;
  transform: rotate(180deg);
}

.show-menu {
  width: 283px;
}

.menu__content {
  margin-top: 25px;
  margin-left: 34px;
  margin-left: 0;
  /* margin-right: 20.5px; */
  overflow: hidden;
}
.show-menu__content {
  margin-left: 34px;
}
.menu__content__div-2,
.menu__content__div-3,
.menu__content__div-4,
.menu__content__div-5 {
  display: flex;
  align-items: center;
  height: 27px;
  margin-bottom: 28px;
}
.menu__content__div-3__list {
  display: none;
  margin-top: -8px;
  transition-property: height;
  transition-duration: 0.7s;
}
.arrow-obu {
  transform: rotate(90deg);
}
.menu__content__div-3__list ul {
  font-size: 16px;
  font-family: "Roboto";
  color: #c2c2c2;
  padding: 0;
  padding-left: 25px;
}
.show-menu__content__div-3__list {
  display: block;
  overflow: hidden;
  width: 200px;
  height: 0;
}
.show-menu__content__div-3__list-2 {
  width: 200px;
  height: 120px;
}
.menu__content__div-3__list li {
  margin-bottom: 10px;
}
.img-dom {
  margin: 0 auto;
}
.img-koledj {
  margin: 0 auto;
}
.img-karandash {
  margin: 0 auto;
}
.img-kubok {
  margin: 0 auto;
}
.show-puncts-img {
  margin-left: 0;
  margin-right: 0;
}
.menu__content__div-1 {
  display: flex;
  align-items: center;
  height: 27px;
}
.img-logo {
  width: 40px;
  height: 27px;
  margin: 0 auto;
}
.show-img-logo {
  margin-left: 0;
  margin-right: 0;
}
.menu__content__text-nok {
  font-size: 22px;
  font-family: "Roboto";
  padding-left: 10px;
  color: #fff;
  display: none;
}
.show-menu__content__text-nok {
  display: block !important;
}
.menu__content__text-div {
  display: flex;
  align-items: center;
  width: 249px;
  display: none;
}
.show-menu__content__text-div {
  display: block !important;
}
.menu__content__cricle-arrow {
  position: absolute;
  display: flex;
  width: 20px;
  height: 20px;
  background: #007ad3;
  border-radius: 50%;
  margin-left: 240px;
  margin-top: 8px;
  margin: 0;
  margin-top: 57px;
  margin-left: -10px;
  z-index: 2;
}
.menu__content__cricle-arrow img {
  margin: auto;
  transform: rotate(180deg);
  transition: transform 0.7s;
}
.show-menu__content__cricle-arrow {
  transform: none;
}
.menu__content__text {
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 400;
  color: #fff;
  margin: 0;
  margin-top: 9px;
}
.show-menu__content__text {
  display: block;
}
.menu__content__puncts {
  margin-right: 20.5px;
  width: 80px;
}
.show-menu__content__puncts {
  width: 249px;
}
.menu__content__div-2 {
  margin-top: 34px;
}
.menu__content__div__text {
  font-size: 16px;
  font-family: "Roboto";
  color: #c2c2c2;
  padding-left: 14px;
  display: none;
  white-space: nowrap;
}
.menu__content__div__arrow {
  margin-left: auto;
  display: none;
  margin-right: 20.05px;
}
.show-menu__content__div__arrow {
  display: block;
}
.menu__content__profile {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 0;
  margin-top: 248px;
}
.show-menu__content__profile {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.menu__content__profile__avatar {
  display: flex;
  width: 50px;
  height: 50px;
  background: #007ad3;
  border-radius: 50%;
  margin: 0 auto;
}
.menu__content__profile__avatar p {
  font-size: 22px;
  font-family: "Roboto";
  color: #fff;
  margin: auto;
}
.menu__content__profile__text {
  font-size: 18px;
  font-family: "Roboto";
  color: #fff;
  margin: 0;
  margin-left: 15px;
  display: none;
}
.show-menu__content__profile__text {
  display: block !important;
}
.show-menu__content__profile__text2 {
  display: block !important;
}
.menu__content__profile__text2 {
  font-size: 14px;
  color: #ffffff80;
  margin-left: 15px;
  margin-top: 9px;
  display: none;
}
body {
  background: #f5f5f5;
  margin-left: 0;
  height: 100%;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-1 {
  display: flex;
  width: 1279px;
  height: 720px;
  background: #fff;
  margin: 0 auto;
}
@media (width < 1280px) {
  .page-1 {
    /* width: 99.99%; */
    display: flex;
  }
  .page-1-img {
    height: 100%;
  }
}
/*@media(width < 641px) { */
@media (width < 700px) {
  .page-1 {
    display: block;
    width: 100%;
    height: 881px;
    margin: 0 auto;
    -webkit-box-flex: 1;
  }
}
/*@media(width < 641px) { */
@media (width < 700px) {
  .page-1-img {
    /* display: none; */
    width: 0;
    height: 0;
  }
}
/*@media(width < 641px) { */
@media (width < 700px) {
  .page-1-img-pad {
    display: block !important;
    width: 99.99%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}
.page-1-img-pad {
  display: none;
}
.page-1__content {
  width: 280px;
  margin: auto;
  font-family: "Roboto";
}
/*@media(width < 641px) { */
@media (width < 700px) {
  .page-1__content {
    margin-top: 30px;
  }
}
@media (width < 445px) {
  .page-1__content {
    width: 300px;
  }
}
.page-1__content__text-registration {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  color: #42505c;
}
@media (width < 445px) {
  .page-1__content__text-registration {
    margin: 0 auto;
  }
}
.page-1__content__text-name,
.page-1__content__text-tel-num,
.page-1__content__text-password {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
  margin: 0;
  margin-top: 20px;
}
.page-1__content__text-password span {
  color: #ff7235;
}
.page-1__content__name-input,
.page-1__content__tele-num-input,
.page-1__content__password-input,
.page-1__content__name-input-red {
  color: #d1d1d1;
  color: #000000;
  opacity: 0.4;
  width: 100%;
  padding: 0;
  padding: 11px 20px 11px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
}
.page-1__content__name-input-long,
.page-1__content__name-input-long-red {
  color: #d1d1d1;
  color: #000000;
  opacity: 0.4;
  width: 296px;
  padding: 0;
  padding: 11px 20px 11px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
}
.page-1__content__name-input-long-red {
  background: #ffdfdf;
}
.page-1__content__password-input:focus {
  color: rgb(0, 0, 0);
  border: 1px solid #c5c2c2;
}
.page-1__content__button-create-akk {
  display: flex;
  width: 100%;
  height: 53px;
  background: #007ad3;
  border-radius: 5px;
  margin-top: 20px;
}
.page-1__content__button-create-akk__text {
  color: #fff;
  margin: auto;
  font-size: 18px;
  font-weight: 500;
}
.page-1__content__text-have-akk {
  display: flex;
  width: 100%;
  background: #007bd300;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-top: 20px;
}

.page-1__content__text-have-akk-text {
  margin: 0;
}

.page-1__content__text-have-akk__bands {
  width: 33px;
  height: 1px;
  background: #000;
}

.page-1__content__button-enter {
  display: flex;
  width: 100%;
  height: 51px;
  background: #ad5d5d00;
  border: 1px solid #007ad3;
  border-radius: 5px;
  margin-top: 20px;
}
.page-1__content__button-enter__text {
  margin: auto;
  color: #007ad3;
  font-weight: 700;
}

/* PHONE NUMBER CMS */

.div-ph-num-sms,
.suc-pass-change {
  display: flex;
  width: 480px;
  height: 425px;
  border-radius: 10px;
  background: #fff;
  margin: 0 auto;
}
.suc-pass-change {
  width: 503px;
}
.div-ph-num-sms__content,
.suc-pass-change__content {
  position: absolute;
  width: 280px;
  margin-left: 100px;
  margin-top: 70px;
}
.suc-pass-change__content {
  width: 303px;
}
.div-ph-num-sms__main-text {
  font-size: 36px;
  font-weight: 700;
  font-family: "Roboto";
  color: #42505c;
  text-align: center;
  margin: 0;
}

.div-password-change__main-text {
  font-size: 36px;
  font-weight: 700;
  font-family: "Roboto";
  color: #42505c;
  margin: 0;
}
.div-ph-num-sms__content__min-text {
  font-size: 18px;
  font-family: "Inter";
  text-align: center;
  margin: 0;
  margin-top: 20px;
}
.div-ph-num-sms__content__list-num {
  display: flex;
  width: 100%;
  height: 36px;
  margin-top: 20px;
}
.div-ph-num-sms__content__list-num__input-num-1 {
  width: 39px;
  padding: 15px;
  margin-right: 9px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  color: #000;
  opacity: 0.4;
}
.div-ph-num-sms__content__buttom-confirm,
.suc-pass-change__content__button-log {
  display: flex;
  width: 100%;
  height: 53px;
  background: #007ad3;
  border-radius: 5px;
  margin-top: 20px;
}
.suc-pass-change__content__button-log {
  width: 280px;
  margin: 0 auto;
  margin-top: 20px;
}
.div-ph-num-sms__content__buttom-confirm__text,
.suc-pass-change__content__button-log__text {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto";
  margin: auto;
}
.img-X {
  width: 26.33px;
  height: 26.33px;
  background: url(img/X.svg);
  margin-left: auto;
  margin-top: 20px;
  margin-right: 20px;
}
.suc-pass-change__content__check-mark {
  width: 99px;
  height: 99px;
  background: url(img/Check-mark.svg);
  margin: 0 auto;
}
.suc-pass-change__content__main-text {
  font-size: 22px;
  font-weight: 700;
  font-family: "Roboto";
  line-height: 25.78px;
  color: #42505c;
  white-space: nowrap;
  text-align: center;
  margin: 0;
  margin-top: 20px;
}
.suc-pass-change__content__text-2 {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter";
  text-align: center;
}
.personal-acc-main-page-div {
  display: flex;
  width: 1280px;
  width: 100%;
 
}
@media only screen and (max-width: 615px) {
  .personal-acc-main-page-div {
     height: 1265px;
  }
}
.personal-acc-main-page {
  display: flex;
  width: 997px;
  width: calc(100% - 80px);
  height: 889px;
  background: #eff4f7;
  transition-property: width;
  transition-duration: 0.7s;
}
.show-personal-acc-main-page {
  display: flex;
  width: calc(100% - 283px);
}
/*@media (width <= 1280px) {
  .personal-acc-main-page-div {
    width: 100%;
  } */
  .personal-acc-main-page {
    display: flex;
    width: calc(100% - 80px);
  }
  .personal-acc-main-page__content {
    position: relative !important;

    margin-left: 55px !important;
    margin-top: 46px !important;
    margin: 0 auto !important;
  }

  .personal-acc-main-page__content__div-avatar {
    position: absolute !important;
    margin-top: 49px !important;
    margin-left: 65%;
  }
  .show-personal-acc-main-page__content {
    margin: 0 auto !important;
    margin-top: 46px !important;
  }
}
@media (width <= 1300px) {
  .show-personal-acc-main-page__content-width {
    width: 602px !important;
  }
}

@media (width >= 1280px) {
  .show-personal-acc-main-page {
    display: flex;
    width: calc(100% - 283px);
  }
}
@media (width <= 1135px) {
  .personal-acc-main-page__content {
    margin-top: 60px !important;
  }

  .personal-acc-main-page__content__div-avatar {
    margin-top: 25px !important;
    width: 75px !important;
    margin-left: 527px !important;
    margin-top: -70px !important;
  }
  .personal-acc-main-page__content__avatar {
    width: 75px !important;
    height: 75px !important;
  }
  .text-red-photo {
    font-size: 15px !important;
    margin: 0 auto;
    margin-top: 5px !important;
  }
}
@media (width <= 930px) {
  .text-red-photo {
    white-space: nowrap !important;
    margin-left: -32px;
  }
}

.personal-acc-main-page__content {
  width: 602px;
  width: 1130px;
  margin: 0;
  margin-left: 158px;
  margin-left: 55px;
  margin: 0 auto;
  margin-top: 46px !important;
  white-space: nowrap;
  /* background: firebrick; */
  transition-property: margin;
  transition-duration: 0.5s;
}
@media (width <= 1280px) {
  .personal-acc-main-page__content {
    width: 602px;
  }
}
.personal-acc-main-page__content__main-text {
  font-size: 36px;
  font-weight: 700;
  font-family: "Roboto";
  color: #42505c;
  margin: 0;
}
.personal-acc-main-page__content__div-2 {
  margin-left: 10px;
}
.personal-acc-main-page__content__div-avatar {
  position: absolute;
  width: 92px;

  margin-right: 135px;
  margin: 0;
  margin-top: 50px;
  margin-left: 612px;
}
.text-red-photo {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto";
  text-align: center;
  margin-top: 11px;
  align-items: center;
  white-space: normal;
}

.personal-acc-main-page__content__avatar {
  display: flex;
  position: relative;
  width: 92px;
  height: 92px;
  background: #007ad3;
  border-radius: 5px;
  /* margin-left: 500px; */
}
.personal-acc-main-page__content__avatar img {
  margin: auto;
}
.personal-acc-main-page__content__text1 {
  font-family: "Roboto";
  font-size: 14px;
  color: #42505c;
  margin-top: 20px;
}
.personal-acc-main-page__content__text2 {
  font-family: "Roboto";
  font-size: 12px;
  color: #42505c;
  margin-top: 40px;
}
.personal-acc-main-page__content__text1 span {
  color: #ff7235;
}
.personal-acc-main-page__content__text2 span {
  color: #ff7235;
}
.personal-acc-main-page__content__button-save {
  display: none !important;
  position: relative;
  display: flex;
  width: 204px;
  height: 53px;
  border-radius: 5px;
  background: #007ad3;
  float: right;
  margin-top: 20px;
  margin-left: auto;
}
@media (width <= 1280px) {
  .personal-acc-main-page__content__button-save {
    display: flex !important;
  }
}

.show-personal-acc-main-page__content__button-save {
  display: flex !important;
}

.personal-acc-main-page__content__button-save-min {
  position: relative;
  display: flex;
  width: 204px;
  min-width: 204px;
  height: 53px;
  height: 39px;
  border-radius: 5px;
  background: #007ad3;
  float: right;
  margin-top: 20px;
  margin-top: auto;
  margin-left: auto;
  margin-left: 10px;
}

.personal-acc-main-page__content__button-save-min {
  display: none;
}

.-min {
  display: none !important;
}

.personal-acc-main-page__content__button-save p {
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto";
  color: #fff;
  margin: auto;
}
.personal-acc-main-page__content__button-save-min p {
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto";
  color: #fff;
  margin: auto;
}
.personal-acc-main-page__content__button-red {
  position: relative;
  display: flex;
  width: 204px;
  min-width: 204px;
  height: 53px;
  height: 41px;
  border-radius: 5px;
  background: #007ad3;
  float: right;
  margin-top: 40px;
  margin-top: auto;
  margin-left: auto;
  margin-left: 10px;
}
@media (width <= 1300px) {
  .show-personal-acc-main-page__content__button-red {
    margin-top: 40px !important;
    height: 53px;
  }
}

@media (width <= 1280px) {
  .personal-acc-main-page__content__button-red {
    margin-top: 40px !important;
    height: 53px;
  }
}
.personal-acc-main-page__content__button-red p {
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto";
  color: #fff;
  margin: auto;
}
.personal-acc-main-page__content__band1 {
  display: flex;
  width: 642px;
  height: 0px;
  margin: 0 auto;
  margin-top: 20px;
  margin-left: -14px;
}
.personal-acc-main-page__content__band2 {
  position: absolute;
  display: flex;
  width: 642px;
  height: 0px;
  margin: 0 auto;
  margin-top: -46.5px;
  margin-left: -14px;
  padding-bottom: 10px;
}
.personal-acc-main-page__content__band2__div div {
  width: 5px;
  height: 1px;
  background: #000;
  opacity: 0.2;
  margin-right: 5px;
}
.personal-acc-main-page__content__band1 div {
  width: 5px;
  height: 1px;
  background: #000;
  opacity: 0.2;
  margin-right: 5px;
}
.personal-acc-main-page__content__band2 div {
  width: 5px;
  height: 1px;
  background: #000;
  opacity: 0.2;
  margin-right: 5px;
}
.text-red-password {
  font-size: 22px;
  font-weight: 700;
  font-family: "Roboto";
  color: #42505c;
  margin-top: 20px;
}
.input-new-pass-div {
  margin-left: 10px;
}
.personal-acc-main-page__content2 {
  display: flex;
  align-items: center;
}
@media (width <= 1300px) {
  .show-personal-acc-main-page__content2 {
    display: block !important;
  }
}

@media (width <= 1280px) {
  .personal-acc-main-page__content2 {
    display: block !important;
  }
}
.button-glaz {
  position: absolute;
  width: 27px;
  height: 20px;
  margin-left: -40px;
  margin-top: 18px;
  z-index: 4;
  border: none;
  background: url(https://esia.gosuslugi.ru/login/password-hidden.4323f54611982effab1a.svg);
}
.show-button-glaz {
  background: url(https://esia.gosuslugi.ru/login/password-shown.89a4ff344525716b3b18.svg);
}
.input-pass-div {
  align-items: center;
}
.fuction-main-page {
  background: #eff4f7;
}
@media (width <= 930px) {
  .show-fuction-main-page-margin {
    width: calc(100% - 80px) !important;
  }
}

.body-fuction {
  background: #eff4f7;
}
.fuction-main-page__content {
  width: 100%;
  margin-top: 0 !important;
}
.fuction-content__white-top-block {
  display: flex;
  width: 100%;
  height: 244px;
  background: #fff;
}
.fuction-content__white-top-block-pade {
  display: flex;
  width: 100%;
  height: 228px;
  background: #fff;
}
.green-block {
  display: flex;
  width: calc(100% - 78px);
  height: 124px;
  background: #00bc00;
  margin-left: 45px;
  margin-top: 86px;
  color: #fff;
  font-family: "Roboto";
  font-weight: 700;
  border-radius: 5px;
}
.green-block-pade {
  display: flex;
  width: calc(100% - 78px);
  height: 183px;
  background: #00bc00;
  margin-left: 35px;
  margin-top: 30px;
  color: #fff;
  font-family: "Roboto";
  font-weight: 700;
  border-radius: 5px;
}
.green-block__content {
  display: flex;
  width: 100%;
  margin-top: 31.5px;
  margin-left: 30px;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}
.green-block__content2 {
  display: flex;
  width: 100%;
  margin-top: 31.5px;
  margin-left: 30px;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
}
.green-block__content2-pade {
  width: 440px;
  width: calc(100% - 40px);
  align-items: center;
  margin: auto;
  text-align: center;
}
.green-block__main-text {
  font-size: 26px;
  margin: 0;
}
.green-block__main-text-pade {
  font-size: 26px;
  margin: 0;
  margin: 0 auto;
}
.green-block__min-text {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  margin-top: 10px;
}
.green-block__right-button {
  display: flex;
  width: 154px;
  height: 51px;
  border-radius: 5px;
  background: #fff;
  margin-left: auto;
  margin-right: 60px;
}
.green-block__right-button-pade {
  display: flex;
  width: 154px;
  width: 100%;
  height: 51px;
  border-radius: 5px;
  background: #fff;
  margin-top: 10px;
}
.green-block__right-button p {
  font-size: 18px;
  color: #00bc00;
  margin: auto;
}
.green-block__right-button-pade p {
  font-size: 18px;
  color: #00bc00;
  margin: auto;
}
.fuction-main-page__content2 {
  display: flex;
  width: 1110px;
  width: calc(100% - 83px);
  height: 406px;
  margin: auto;
  margin-top: 32px;
}

.fuction-main-page__content2-pade {
  display: block;
  width: 1110px;
  width: calc(100% - 83px);

  height: 406px;
  margin: auto;
  margin-top: 32px;
}
.fuction-main-page__content2__block1,
.fuction-main-page__content2__block2 {
  display: flex;
  width: calc(50% - 10px);
  width: 100%;
  height: 343px;
  background: #fff;
  font-family: "Roboto";
  font-weight: 700;
}
.fuction-main-page__content2__block1-pade,
.fuction-main-page__content2__block2-pade {
  display: flex;
  width: calc(50% - 10px);
  width: 100%;
  height: 343px;
  background: #fff;
  font-family: "Roboto";
  font-weight: 700;
}
.fuction-main-page__content2__block1-pade {
  height: 175px;
}
.fuction-main-page__content2__block2-pade {
  height: 308px;
}
.content2__block1__content,
.content2__block2__content {
  margin-top: 20px;
  margin-left: 30px;
}
.content2__block1__content-pade,
.content2__block2__content-pade {
  width: 440px;
  margin: 0 auto;
  margin-top: 20px;
}
.content2__block2__content-v2 {
  width: calc(100% - 60px);
  margin-top: 20px;
  padding-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
.content2__block1__main-text,
.content2__block2__main-text {
  font-size: 36px;
  color: #007ad3;
  margin: 0;
}
.content2__block1__list {
  font-size: 18px;
  color: #03111b4d;
  padding: 0;
  margin: 0;
  padding-left: 30px;
  margin-top: 10px;
  white-space: normal;
}
.content2__block2__medium-text {
  font-size: 18px;
  color: #03111b4d;
  margin: 0;
  margin-top: 10px;
  white-space: normal;
}
@media (width <= 1450px) {
  .content2__block2__medium-text span {
    white-space: normal;
  }
}
.content2__block2__blue-text1,
.content2__block2__blue-text2 {
  font-size: 18px;
  color: #007ad3;
  margin: 0;
  margin-top: 10px;
}
.content2__block2__blue-text1-v2 {
  font-size: 18px;
  color: #007ad3;
  margin: 0;
  margin-top: 55.5px;
}
.content2__block2__blue-text2-v2 {
  font-size: 18px;
  color: #007ad3;
  margin: 0;
  margin-top: 30px;
}
.content2__block2__blue-text2 {
  margin-top: 20px;
}
.content2__block2__min-text1 {
  font-size: 14px;
  font-weight: 400;
  color: #03111b4d;
  margin: 0;
  margin-top: 10px;
}
.content2__block2__band {
  width: 100%;
  height: 1px;
  background: #007ad3;
  margin-top: 30px;
}
.fuction-main-page__content2__block1-div,
.fuction-main-page__content2__block2-div {
  width: calc(50% - 10px);
}
.fuction-main-page__content2__block1-div-pad,
.fuction-main-page__content2__block2-div-pad {
  width: calc(100% - 20px);
}
.fuction-main-page__content2__block2-div {
  margin-left: 20px;
}
.content2__button-get_access {
  display: flex;
  width: 380px;
  height: 53px;
  background: #007ad3;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 20px;
}
.content2__button-get_access-pade {
  display: flex;
  width: 100%;
  height: 53px;
  background: #007ad3;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 20px;
}
.content2__button-get_access-pade div {
  display: flex;
  align-items: center;
  width: 100%;
}
.content2__button-get_access-pade p {
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto";
  color: #fff;
  margin: auto;
  align-items: center;
}
.content2__button-get_access-pade p::before {
  content: url(img/lock.svg);
  position: absolute;
  margin-left: -28px;
  margin-top: -2px;
}
.content2__button-get_access div {
  display: flex;
  align-items: center;
  width: 100%;
}
.content2__button-get_access img {
  /*position: absolute;
  width: 16.8px;
  height: 23px; */
}
.content2__button-get_access p {
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto";
  color: #fff;
  margin: auto;
  align-items: center;
}
.content2__button-get_access p::before {
  content: url(img/lock.svg);
  position: absolute;
  margin-left: -28px;
  margin-top: -2px;
}
/*.content2__button-get_access p::before {
  content: url(img/lock.svg);
  width: 59px;
  height: 50px;
  margin: 0;
  margin-top: 10px;
} */
.content2__block1__button-arrow {
  display: flex;
  width: 60px;
  min-width: 60px !important;
  height: 40px;
  min-width: 40px;
  background: #007ad3;
  border-radius: 5px;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 20px;
  margin-right: 30px;
}
.content2__block1__button-arrow-v2 {
  display: flex;
  width: 60px;
  height: 40px;
  background: #007ad3;
  border-radius: 5px;
  margin-left: auto;
  margin-top: 62px;
}
.content2__block1__button-arrow-v3 {
  display: flex;
  width: 60px;
  min-width: 60px !important;
  height: 40px;
  background: #007ad3;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: 30px;
}
@media (width <= 1411px) {
  .content2__block1__button-arrow-v3 {
    margin-top: 28px;
  }
}
.content2__block1__button-arrow img {
  margin: auto;
}
.content2__block1__button-arrow-v2 img {
  margin: auto;
}
.content2__block1__button-arrow-v3 img {
  margin: auto;
}
.str-besp-pade-content {
  width: calc(100% - 80px);
  margin-top: 15px;
  margin-left: 35px;
}
.pade {
  display: none;
}
@media (width <= 1200px) {
  .pade {
    display: block;
  }
}
.pc {
}
@media (width <= 1200px) {
  .pc {
    display: none;
  }
}
@media only screen and (max-width: 615px) {
  .page-pc {
    display: none !important;
  }
}
@media only screen and (min-width: 615px) {
  .page-mob {
    display: none !important;
  }
}
.grey {
  background: #EFF4F7;
}
.font {
  font-family: 'Roboto';
}
.main-str__top-block {
  width: 100%;
  height: 157px;
  background: #fff;
}
.main-str__top-block__button-green {
  display: flex;
  width: 260px;
  height: 51px;
  background: #ffffff00;
  border-radius: 5px;
  border: 2px solid #00bc00;
  margin: 0 auto;
  margin-top: 35px;
}
.main-str__top-block__button-green p {
  font-size: 18px;
  color: #00bc00;
  margin: auto;
}
.main-str__top-block__list-buttom {
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
}
.main-str__top-block__list-buttom div {
  display: flex;
  width: 180px;
  height: 61px;
}
.main-str__top-block__list-buttom p {
  font-size: 18px;
  margin: auto;
}
.main-str__content {
  width: calc(100% - 90px);
  margin: 0 auto;
  margin-top: 30px;
}
.main-str__content-pade {
  width: calc(100% - 80px);
  margin-left: 35px;
  margin-top: 30px;
}
.main-str__content-mobile {
  width: calc(100% - 40px);
  margin: 0 auto;
  margin-top: 30px;
}
.main-str__content__block-bay {
  display: flex;
  min-width: 100%;width: 100%;
  height: 490px;
}
.main-str__content__block-bay-pade {
  display: flex;
  min-width: 100%;width: 100%;
  height: 490px;
}
.main-str__content__block-bay div{
  display: flex;
  width: calc(33.333% - 10px);
  height: 100%;
  margin-right: 20px;
  background: #fff;
}
.main-str__content__block-bay-mobile {
  display: flex;
  width: 100%;
  height: 490px;
  background: #fff;
  margin-top: 20px;
}
.pade-last-block-bay {
  display: flex;
  width: 100%;
  height: 355px;
  margin-right: 20px;
  background: #fff;
  margin-top: 30px;
}
.main-str__content__block-bay-pade div{
  display: flex;
  width: calc(50% - 0px);;
  height: 100%;
  margin-right: 10px;
  background: #fff;
}
#last-block-bay {
  margin-right: 0;
}
.main-str__content__block-bay__content {
  display: block !important;
 
  width: calc(100% - 40px) !important;
  height: 450px !important;
  margin: auto !important;
 
  overflow: hidden;
}
.main-str__content__block-bay__content__main-item {
  font-size: 22px;
  font-weight: 700;
  color: #007ad3;
  margin: 0 auto;
}
.main-str__content__block-bay__content__grey-text {
  font-size: 16px;
  color:#03111B4D;
  margin: 0;
  margin-top: 46px;
}
.main-str__content__block-bay__content__list {
  font-size: 16px;
  color:#03111B4D;
  padding: 0;
  margin: 0;
  margin-top: 142px;
  padding-left: 28px;
}
.main-str__content__block-bay__content__grey-text-center {
  font-size: 16px;
  color:#03111B4D;
  margin: 0 auto;
  margin-top: 20px;
}
.main-str__content__block-bay__content__price {
  font-size: 22px;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 59px;
}
.main-str__content__block-bay__content__button-price {
  display: flex !important;
  width: 100% !important;
  height: 51px !important;
  border-radius: 5px;
  background: #ffffff00;
  border: 2px solid #007ad3;
  margin-top: 105px;
  transition-property: background;
  transition-duration: 0.5s;
 
}
/*.main-str__content__block-bay__content__button-price:hover {
  background: #007ad3;
  
}

.main-str__content__block-bay__content__button-price:hover ~ 
.main-str__content__block-bay__content__button-price p { color: red;} */

.main-str__content__block-bay__content__button-price p {
  font-size: 18px;
  font-weight: 700;
  color: #007ad3;
  margin: auto;
}
.main-str__content__main-blue-text {
  font-size: 22px;
  font-weight: 700;
  color: #007ad3;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
.main-str__content__grey-block {
  display: flex;
  width: 100%;
  height: 450px;
  background: #D9D9D9;
  margin-top: 30px;
  font-family: 'Roboto';
}
.left-arrow {
  width: 18.35px;
  height: 30.19px;
  margin-left: 38px;
  margin-top: auto;
  margin-bottom: auto;
}
.main-str__content__grey-block__content {
  margin-left: 53.65px;
  margin-top: 55px;
}
.main-str__content__grey-block__content__main-text {
  font-size: 54px;
  font-weight: 700;
  font-family: 'Roboto';
  margin: 0;
}
.main-str__content__grey-block__content__div-text {
  margin-top: 53px;
  font-size: 18px;
}
.main-str__content__grey-block__content__div-text p {
  margin: 0;
  margin-bottom: 10px;
}
.main-str__content__grey-block__content__button {
  display: flex;
  width: 248px;
  height: 51px;
  background: #007ad3;
  border-radius: 5px;
  margin-top: 40px;
}
.main-str__content__grey-block__content__button p {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin: auto;
}
.main-str__content__buttom-content {
  width: 497px;
  
  
  margin: auto;
}
.main-str__content__buttom-content__main-text {
  font-size: 22px;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}
.main-str__content__buttom-content__input-1 {
  font-size: 16px;
  color: linear-gradient(0deg, rgba(33, 33, 33, 0.7), rgba(33, 33, 33, 0.7));
  width: 100%;
  padding: 15px;
  border: 1px solid #D1D1D1;
  margin-top: 20px;
  border-radius: 5px;
}
.main-str__content__buttom-content__input-1:focus {
   outline: none;
}
.main-str__content__buttom-content__input-2 {
  font-size: 16px;
  color: linear-gradient(0deg, rgba(33, 33, 33, 0.7), rgba(33, 33, 33, 0.7));
  width: 100%;
  padding: 15px;
  border: 1px solid #D1D1D1;
  margin-top: 10px;
  border-radius: 5px;
}
.main-str__content__buttom-content__input-2:focus {
   outline: none;
}
.main-str__content__buttom-content__min-text {
  font-size: 12px;
  color:  #5E5E5E;
  margin: 0;
  margin-top: 10px;
}
.main-str__content__buttom-content__min-text span {
  color: #FF7235;
}
.main-str__content__buttom-content__div-sogl {
  display: flex; 
  margin: 0 auto;
  margin-top: 3px;
  align-items: center;
}
.main-str__content__buttom-content__div-sogl__button {
  width: 20px;
  height: 20px;
  border: 1px solid #007ad3;
  background: #007bd300;
}
.show-button-sogl {
  background: #007ad3;
}
.main-str__content__buttom-content__div-sogl__text {
  font-size: 16px;
  font-weight: 300;
  margin-left: 20px;
}
.main-str__content__buttom-content__div-sogl__text span {
  color: #007ad3;
}
.main-str__content__buttom-content__otpravit-button {
  display: flex;
  width: 212px;
  height: 51px;
  background: none;
  border: 2px solid #007ad3;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 10px;
}
.main-str__content__buttom-content__otpravit-button p {
  font-size: 18px;
  font-weight: 700;
  color: #007ad3;
  margin: auto;
}
.right-arrow {
  width: 18.35px;
  height: 30.19px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 38px;
}
@media (width <= 1240px) {
 .pc-v2 {
   display: none !important;
}
}
.pade-v2 {
  display: none !important;
}
@media (width <= 1240px) {
  .pade-v2 {
    display: block !important;
  }
 }
 @media (width <= 1240px) {
  .menu-pade-main-str {
  height: 2300px !important;
 }
 }
 .show-arrow-absolute {
   margin-left: 293px;
 }
.button-arrow-blue {
  display: flex;
  position: absolute;
  margin-left: 70px;
  transition-property: margin;
  transition-duration: 0.7s;
  width: 20px;
  height: 20px;
  background: #007ad3;
  border-radius: 50%;
  z-index: 2;
  margin-top: 57px;
  transform: rotate(180deg);
 }
 .show-button-arrow-blue {
  margin-left: 273px;
 }
 .button-arrow-blue img {
   margin: auto;
 }
 .show-img-arrow {
   transform: rotate(-180deg);
 }
 @media (width >= 930px) {
  .button-arrow-blue {
    display: none;
  }
 }
.white-top-block__gip,
 .white-top-block__gap {
     display: flex;
     width: 265px;
     height: 61px;
     margin-top: auto;
 }
 .white-top-block__gip {
  border-bottom: 3px solid #007AD3;
 }
 .white-top-block__gip p {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Roboto';
   margin: auto;
 }
 .white-top-block__gap p {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Roboto';
  margin: auto;
}
.block-list-mob {
  height: 50px !important;
}
.show-block-list-v2 {
  height: 87px !important;
}
